<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    </head>
    <body>
    <div class="h-screen flex overflow-hidden bg-white">
        <!-- Static sidebar for desktop -->
        {% if app.user %}
            <div class="hidden lg:flex lg:flex-shrink-0">
                <div class="flex flex-col w-64 border-r border-gray-200 pt-5 pb-4 bg-gray-100">
                    <div class="flex items-center flex-shrink-0 px-6">
                        <img class="h-36 w-auto" src="{{ asset('images/icon.png') }}" alt="Workflow">
                    </div>
                    <!-- Sidebar component, swap this element with another sidebar if you like -->
                    <div class="h-0 flex-1 flex flex-col overflow-y-auto">
                        <!-- Navigation -->
                        {{ include('navigation.html.twig') }}
                    </div>
                </div>
            </div>
        {% endif %}
         <!-- Main column -->
        <div class="flex flex-col w-0 flex-1 overflow-hidden">
            <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
                {% for message in app.flashes('success') %}
                    {% include 'alert.html.twig' with {'error': false, 'message': message } %}
                {% endfor %}
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>

    {% block javascripts %}{% endblock %}
    </body>
</html>
